.photo-item__delete-btn {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/delete-button.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity .2s linear;
}

.photo-item__delete-btn:hover {
  opacity: .6;
}
